# Archivos temporales de Python
pycache/
*.pyc
*.pyo
*.pyd
# Entornos virtuales
.venv/
venv/
env/
ENV/
# Archivos privados
.env
# Configuración local de Hugging Face
huggingface/
huggingface_cache/
# Archivos de modelo o cache pesado
models/
*.bin
*.pt
*.safetensors
# Datos internos
data/*.pdf
app/model_data/
# Logs y temporales
*.log
*.tmp
# Carpetas de IDE
.vscode/
.idea/
# Sistema
.DS_Store
Thumbs.db
# Archivos generados
Informe.pdf